@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Josefin+Sans:wght@400;500&family=Nunito:wght@400;700&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;400;700&family=Raleway:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&family=Roboto&family=Work+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Josefin+Sans:wght@400;500&family=Nunito:wght@400;700&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;400;700&family=Raleway:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&family=Roboto&family=Titillium+Web:wght@600&family=Work+Sans:wght@400;500&display=swap");
.top-movies {
  padding-left: 20px;
  padding-right: 20px;
  .topmovie {
    margin: 0px;
    padding: 20px 0px 7px 40px;
    // padding-left: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    align-items: center;
    letter-spacing: -0.01em;
    text-transform: capitalize;
  }
  .topmovie {
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes grow {
    0% {
      transform: scaleX(1.1);
    }
    50% {
      transform: scaleX(1.1);
      background: darkturquoise;
    }
  }
  .swiper {
    .swiper-slide {
      margin-left: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      // .content {
      //   display: flex;
      //   margin-right: 20px;
      //   display: flex;
      //   margin: 0 auto;
      //   padding: 20px;
      //   // overflow-x: scroll;
      //   max-width: 1400px;
      //   .subcontent {
      //     padding-top: 20px;
      //     // padding-left: 20px;
      //     padding-right: 20px;
          // cursor: pointer;
          // display: flex;
          // flex-direction: column;
          // border-radius: 9px;
          // max-width: 250px;
          // height: 400px;
          // display: inline-block;
          // background-color: black;
          // transition-property: background-color;
          // transition-duration: 4s;
          // transition-timing-function: ease-in-out;
          // &:hover {
          //   transform: scale(1.1);
          // }

          .subcontent-img {
            border-radius:15px;
            // margin-left: 20px;
            // max-width: 300px;
            // max-height: 300px;
          }
          .rating {
            // margin-left: 30px;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 22px;
            color: white;
            // background-color: black;
            width: 200px;
            //  height: 300px
          }
          .title {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 22px;
            color: white;
            // background-color: black;
          }
        }
      }
    }
  // }
// }
