@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Josefin+Sans:wght@400;500&family=Nunito:wght@400;700&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;400;700&family=Raleway:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&family=Roboto&family=Work+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Josefin+Sans:wght@400;500&family=Nunito:wght@400;700&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;400;700&family=Raleway:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&family=Roboto&family=Titillium+Web:wght@600&family=Work+Sans:wght@400;500&display=swap");

.trendingdw {
  padding:20px 40px;
  .trendingdw-content {
    display: flex;
    .trending-all {
      margin: 0px;
      margin-right: 20px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 150%;
      align-items: center;
      letter-spacing: -0.01em;
      text-transform: capitalize;
    }
    .day-btn {
      padding: 5px;
      min-width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      background-color: black;
      color: white;
      border-radius: 10px;
      &:hover {
        background-color: lightseagreen;
      }
      // .week-btn:visited {
      //   background-color: white;
      // }
    }
    .week-btn {
      padding: 5px;
      min-width: 100px;
      display: flex;
      justify-content: center;
      margin: 10px;
      background-color: black;
      color: white;
      border-radius: 10px;
      &:hover {
        background-color: lightseagreen;
      }
     
    }
    // .week-btn:visited {
    //   background-color: white;
    // }
  }
  .main-content {
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #888;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;

      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .containts {
      margin-right: 20px;
      padding-top: 20px;
      .image {
        // padding-top: 20px;
        border-radius: 10px;
        transition-property: background-color;
        transition-duration: 4s;
        transition-timing-function: ease-in-out;
        &:hover {
          transform: scale(1.1);
         
        }
      }
      .title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 150%;
        align-items: center;
        letter-spacing: -0.01em;
        text-transform: capitalize;
      }
    }
  }
}
